<main>
  <section class="hero_single version_4">
    <div class="wrapper">
      <div class="container">
        <h3>Find what you need!</h3>
        <p>Discover top rated hotels, shops and restaurants around the world</p>
        <form method="post" action="grid-listings-filterscol.html">
          <div class="row no-gutters custom-search-input-2">
            <div class="col-lg-4">
              <div class="form-group">
                <input class="form-control" type="text" placeholder="What are you looking for...">
                <i class="icon_search"></i>
              </div>
            </div>
            <div class="col-lg-3">
              <div class="form-group">
                <input class="form-control" type="text" placeholder="Where">
                <i class="icon_pin_alt"></i>
              </div>
            </div>
            <div class="col-lg-3">
              <select class="wide">
                <option>All Categories</option>
                <option>Shops</option>
                <option>Hotels</option>
                <option>Restaurants</option>
                <option>Bars</option>
                <option>Events</option>
                <option>Fitness</option>
              </select>
            </div>
            <div class="col-lg-2">
              <input type="submit" value="Search">
            </div>
          </div>
          <!-- /row -->
        </form>
        <ul class="counter">
          <li><strong>256,020</strong> Locations</li>
          <li><strong>150,543</strong> Active users</li>
        </ul>
      </div>
    </div>
  </section>
  <!-- /hero_single -->


  <div class="container margin_60_35">
    <div class="main_title_3">
      <span></span>
      <h2>Famous Shops</h2>
      <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
      <a href="grid-listings-filterscol.html">See all</a>
    </div>
    <div class="row add_bottom_30">
      <div class="col-lg-3 col-sm-6">
        <a href="detail-shop.html" class="grid_item small">
          <figure>
            <img src="assets/img/shop_1.jpeg" alt="">
            <div class="info">
              <h3>Victoria Secretes</h3>
            </div>
          </figure>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a href="detail-shop.html" class="grid_item small">
          <figure>
            <img src="assets/img/shop_2.jpeg" alt="">
            <div class="info">
              <h3>Louis Vuitton</h3>
            </div>
          </figure>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a href="detail-shop.html" class="grid_item small">
          <figure>
            <img src="assets/img/shop_3.jpeg" alt="">
            <div class="info">
              <h3>Burberry</h3>
            </div>
          </figure>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a href="detail-shop.html" class="grid_item small">
          <figure>
            <img src="assets/img/shop_4.jpeg" alt="">
            <div class="info">
              <h3>Pinko</h3>
            </div>
          </figure>
        </a>
      </div>
    </div>
    <!-- /row -->

    <div class="main_title_3">
      <span></span>
      <h2>Popular Hotels</h2>
      <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
      <a href="grid-listings-filterscol.html">See all</a>
    </div>
    <div class="row add_bottom_30">
      <div class="col-lg-3 col-sm-6">
        <a href="detail-hotel.html" class="grid_item small">
          <figure>
            <img src="assets/img/hotel_1.jpeg" alt="">
            <div class="info">
              <div class="cat_star"><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i></div>
              <h3>Hotel Mariott</h3>
            </div>
          </figure>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a href="detail-hotel.html" class="grid_item small">
          <figure>
            <img src="assets/img/hotel_2.jpeg" alt="">
            <div class="info">
              <div class="cat_star"><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i></div>
              <h3>Hotel Concorde</h3>
            </div>
          </figure>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a href="detail-hotel.html" class="grid_item small">
          <figure>
            <img src="assets/img/hotel_3.jpeg" alt="">
            <div class="info">
              <div class="cat_star"><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i></div>
              <h3>Hotel La Defanse</h3>
            </div>
          </figure>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a href="detail-hotel.html" class="grid_item small">
          <figure>
            <img src="assets/img/hotel_4.jpeg" alt="">
            <div class="info">
              <div class="cat_star"><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i><i class="icon_star"></i></div>
              <h3>Hotel Carlton</h3>
            </div>
          </figure>
        </a>
      </div>
    </div>
    <!-- /row -->

    <div class="main_title_3">
      <span></span>
      <h2>Top Restaurants</h2>
      <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
      <a href="grid-listings-filterscol.html">See all</a>
    </div>
    <div class="row ">
      <div class="col-lg-3 col-sm-6">
        <a href="detail-restaurant.html" class="grid_item small">
          <figure>
            <img src="assets/img/restaurant_1.jpeg" alt="">
            <div class="info">
              <h3>Da Alfredo</h3>
            </div>
          </figure>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a href="detail-restaurant.html" class="grid_item small">
          <figure>
            <img src="assets/img/restaurant_2.jpeg" alt="">
            <div class="info">
              <h3>Bistroter</h3>
            </div>
          </figure>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a href="detail-restaurant.html" class="grid_item small">
          <figure>
            <img src="assets/img/restaurant_3.jpeg" alt="">
            <div class="info">
              <h3>Da Luigi</h3>
            </div>
          </figure>
        </a>
      </div>
      <div class="col-lg-3 col-sm-6">
        <a href="detail-restaurant.html" class="grid_item small">
          <figure>
            <img src="assets/img/restaurant_4.jpeg" alt="">
            <div class="info">
              <h3>Marco King</h3>
            </div>
          </figure>
        </a>
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->

  <div class="bg_color_1">
    <div class="container margin_80_55">
      <div class="main_title_2">
        <span><em></em></span>
        <h2>Popular Categories</h2>
        <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-3 col-md-6">
          <a href="row-listings-filterscol.html" class="box_cat_home">
            <i class="icon_menu-circle_alt"></i>
            <img src="assets/img/icon_home_1.svg" width="65" height="65" alt="">
            <h3>Shops</h3>
            <ul>
              <li><strong>1240</strong>Locations</li>
            </ul>
          </a>
        </div>
        <div class="col-lg-3 col-md-6">
          <a href="row-listings-filterscol.html" class="box_cat_home">
            <i class="icon_menu-circle_alt"></i>
            <img src="assets/img/icon_home_2.svg" width="65" height="65" alt="">
            <h3>Hotels</h3>
            <ul class="clearfix">
              <li><strong>345</strong>Locations</li>
            </ul>
          </a>
        </div>
        <div class="col-lg-3 col-md-6">
          <a href="row-listings-filterscol.html" class="box_cat_home">
            <i class="icon_menu-circle_alt"></i>
            <img src="assets/img/icon_home_3.svg" width="65" height="65" alt="">
            <h3>Restaurants</h3>
            <ul class="clearfix">
              <li><strong>452</strong>Locations</li>
            </ul>
          </a>
        </div>
        <div class="col-lg-3 col-md-6">
          <a href="row-listings-filterscol.html" class="box_cat_home">
            <i class="icon_menu-circle_alt"></i>
            <img src="assets/img/icon_home_4.svg" width="65" height="65" alt="">
            <h3>Bars</h3>
            <ul class="clearfix">
              <li><strong>211</strong>Locations</li>
            </ul>
          </a>
        </div>
        <div class="col-lg-3 col-md-6">
          <a href="row-listings-filterscol.html" class="box_cat_home">
            <i class="icon_menu-circle_alt"></i>
            <img src="assets/img/icon_home_5.svg" width="65" height="65" alt="">
            <h3>Events</h3>
            <ul class="clearfix">
              <li><strong>146</strong>Locations</li>
            </ul>
          </a>
        </div>
        <div class="col-lg-3 col-md-6">
          <a href="row-listings-filterscol.html" class="box_cat_home">
            <i class="icon_menu-circle_alt"></i>
            <img src="assets/img/icon_home_6.svg" width="65" height="65" alt="">
            <h3>Fitness</h3>
            <ul class="clearfix">
              <li><strong>345</strong>Locations</li>
            </ul>
          </a>
        </div>
      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
  <!-- /bg_color_1 -->

  <div class="container margin_80_55">
    <div class="main_title_2">
      <span><em></em></span>
      <h2>News and Events</h2>
      <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <a class="box_news" href="blog.html">
          <figure><img src="assets/img/news_home_1.jpeg" alt=""></figure>
          <ul>
            <li>Restaurants</li>
            <li>20.11.2017</li>
          </ul>
          <h4>Pri oportere scribentur eu</h4>
          <p>Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse ullum vidisse....</p>
        </a>
      </div>
      <!-- /box_news -->
      <div class="col-lg-6">
        <a class="box_news" href="blog.html">
          <figure><img src="assets/img/news_home_2.jpeg" alt=""></figure>
          <ul>
            <li>Shops</li>
            <li>20.11.2017</li>
          </ul>
          <h4>Duo eius postea suscipit ad</h4>
          <p>Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse ullum vidisse....</p>
        </a>
      </div>
      <!-- /box_news -->
      <div class="col-lg-6">
        <a class="box_news" href="blog.html">
          <figure><img src="assets/img/news_home_3.jpeg" alt=""></figure>
          <ul>
            <li>Shops</li>
            <li>20.11.2017</li>
          </ul>
          <h4>Elitr mandamus cu has</h4>
          <p>Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse ullum vidisse....</p>
        </a>
      </div>
      <!-- /box_news -->
      <div class="col-lg-6">
        <a class="box_news" href="blog.html">
          <figure><img src="assets/img/news_home_4.jpeg" alt=""></figure>
          <ul>
            <li>Bars</li>
            <li>20.11.2017</li>
          </ul>
          <h4>Id est adhuc ignota delenit</h4>
          <p>Cu eum alia elit, usu in eius appareat, deleniti sapientem honestatis eos ex. In ius esse ullum vidisse....</p>
        </a>
      </div>
      <!-- /box_news -->
    </div>
    <!-- /row -->
    <p class="btn_home_align"><a href="blog.html" class="btn_1 rounded">View all news</a></p>
  </div>
  <!-- /container -->

  <div class="call_section image_bg">
    <div class="wrapper">
      <div class="container margin_80_55">
        <div class="main_title_2">
          <span><em></em></span>
          <h2>How it Works</h2>
          <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="box_how wow">
              <i class="pe-7s-search"></i>
              <h3>Search Locations</h3>
              <p>An nec placerat repudiare scripserit, temporibus complectitur at sea, vel ignota fierent eloquentiam id.</p>
              <span></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box_how">
              <i class="pe-7s-info"></i>
              <h3>View Location Info</h3>
              <p>An nec placerat repudiare scripserit, temporibus complectitur at sea, vel ignota fierent eloquentiam id.</p>
              <span></span>
            </div>
          </div>
          <div class="col-md-4">
            <div class="box_how">
              <i class="pe-7s-like2"></i>
              <h3>Book, Reach or Call</h3>
              <p>An nec placerat repudiare scripserit, temporibus complectitur at sea, vel ignota fierent eloquentiam id.</p>
            </div>
          </div>
        </div>
        <!-- /row -->
        <p class="text-center add_top_30 wow bounceIn" data-wow-delay="0.5"><a href="register.html" class="btn_1 rounded">Register Now</a></p>
      </div>
    </div>
    <!-- /wrapper -->
  </div>
  <!--/call_section-->
</main>
<!-- /main -->
